<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

<div th:substituteby="common/header :: include" />

<body class="page-header-fixed">

<div th:substituteby="common/header_navbar :: header_navBar" />

<div class="page-container row-fluid">
	<div th:substituteby="common/leftBar :: leftBar" />
	
	<div class="page-content">
		<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
		<div id="portlet-config" class="modal hide">
			<div class="modal-header">
				<button data-dismiss="modal" class="close" type="button"></button>
				<h3>portlet Settings</h3>
			</div>
			<div class="modal-body">
				<p>Here will be a configuration form</p>
			</div>
		</div>
		<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
		
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span12">
					<!-- BEGIN STYLE CUSTOMIZER -->
					<div class="color-panel hidden-phone">
						<div class="color-mode-icons icon-color"></div>
						<div class="color-mode-icons icon-color-close"></div>
						<div class="color-mode">
							<p>THEME COLOR</p>
							<ul class="inline">
								<li class="color-black current color-default" data-style="default"></li>
								<li class="color-blue" data-style="blue"></li>
								<li class="color-brown" data-style="brown"></li>
								<li class="color-purple" data-style="purple"></li>
								<li class="color-grey" data-style="grey"></li>
								<li class="color-white color-light" data-style="light"></li>
							</ul>
	
							<label>
								<span>Layout</span>
								<select class="layout-option m-wrap small">
									<option value="fluid" selected="selected">Fluid</option>
									<option value="boxed">Boxed</option>
								</select>
							</label>
							<label>
								<span>Header</span>
								<select class="header-option m-wrap small">
									<option value="fixed" selected="selected">Fixed</option>
									<option value="default">Default</option>
								</select>
							</label>
							<label>
								<span>Sidebar</span>
								<select class="sidebar-option m-wrap small">
									<option value="fixed">Fixed</option>
									<option value="default" selected="selected">Default</option>
								</select>
							</label>
							<label>
								<span>Footer</span>
								<select class="footer-option m-wrap small">
									<option value="fixed">Fixed</option>
									<option value="default" selected="selected">Default</option>
								</select>
							</label>
						</div>
					</div>
					<!-- END BEGIN STYLE CUSTOMIZER -->    
				
					<!-- BEGIN PAGE TITLE & BREADCRUMB-->
					<div th:substituteby="common/breadcrumb :: breadcrumb" />
					<!-- END PAGE TITLE & BREADCRUMB-->
					
				</div>
			</div>
			
			<!-- 内容页 -->
			<div th:substituteby="${contentName} :: content" />
		</div>
	</div>
</div>

<div th:substituteby="common/footer :: footer" />

<script th:inline="javascript">
	/*<![CDATA[*/
		jQuery(document).ready(function() {     
			console.log($(window).height() - 82);
			$("div.page-content").css("min-height",$(window).height() - 82);
			App.init();

		});
	/*]]>*/
</script>

<div id="static" class="modal hide fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
	<div class="modal-body">
		<p>你确定要继续执行此操作么?</p>
	</div>
	<div class="modal-footer">
		<button type="button" data-dismiss="modal" class="btn">取消</button>
		<button type="button" data-dismiss="modal" class="btn green">确定</button>
	</div>
</div>
</body></html>

